<ion-header>
  <ion-toolbar color="black" class="toolbar-with-margins">
    <ion-title class="center-title">
      Jose Andres Gutierrez Arias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: rgba(242, 244, 245, 0.226);">
  <div style="height: 500px;"></div> <!-- Espacio grande entre el encabezado y el perfil -->
  <ion-grid class="center-content">
    <ion-row>
      <ion-col>
        <br>
        <div class="block block-1" style="margin-top: 20px;">
          <img src="assets\jose.jpg" alt="Imagen de encabezado" style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: rgb(0, 0, 0); margin-block: 50; font-weight: bold; text-shadow: 1px 1px 1px white;">Perfil</p>
          </ion-toolbar>
          <div class="block-content">
            <br>
            <p style="text-align: justify; margin-left: 100px; margin-right: 100px; font-size: 20px;">
              Persona seria y responsable con muchas ganas de trabajar y de aprender,<br>
              con don de gente y comunicativo.
              <br> Me considero responsable con capacidad de trabajar en equipo con excelente bagaje ético
              <br>y moral para el ejercicio de la profesión.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="block" style="margin-top: 20px;">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Datos Personales</p>
          </ion-toolbar>

          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 300px; font-size: 20px;">Nombre:</td>
              <td style="text-align: left; font-size: 20px;">
                José Andres Gutierrez Arias
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Documento de Identidad:</td>
              <td style="text-align: left; font-size: 20px;">
                1.109.410.038
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Fecha de Nacimiento:</td>
              <td style="text-align: left; font-size: 20px;">
                12 de Enero de 2003
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Lugar de Nacimiento:</td>
              <td style="text-align: left; font-size: 20px;">
                Pitalito-Huila
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Dirección:</td>
              <td style="text-align: left; font-size: 20px;">
                tv73f #70-23
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Teléfono:</td>
              <td style="text-align: left; font-size: 20px;">
                3058151613
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Email:</td>
              <td style="text-align: left; font-size: 20px;">
                <span style="text-decoration: underline; color: #7dc1ff;">gutierrezjose020@gmail.com</span>
              </td>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Formación Académica</p>
          </ion-toolbar>
          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 300px; font-size: 20px;">Universitarios:</td>
              <td style="text-align: left; font-size: 20px;">
                Servicio Nacional de Aprendizaje (SENA)<br>
                Análisis y Desarrollo de Software<br>
                En curso
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Universitarios:</td>
              <td style="text-align: left; font-size: 20px;">
                Bachiller Técnico con Énfasis en Hotelería y Turismo<br>
                Técnico en Hotelería y Turismo<br>
                Culminado
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Estudios Secundarios:</td>
              <td style="text-align: left; font-size: 20px;">
                I.E.D. Tecnico Sumapaz<br>
                Sede: Principal<br>
                2020
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left; font-size: 20px;">Estudios Primarios:</td>
              <td style="text-align: left; font-size: 20px;">
                I.E.D. Antonio Nariño<br>
                2015
              </td>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: black; font-weight: bold; text-shadow: 1px 1px 1px white;">Experiencia Laboral</p>
          </ion-toolbar>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold; font-size: 20px;">Colvatel (ETB)</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; font-size: 20px;"><b>Cargo:</b></td>
                <td style="text-align: right; font-size: 20px;">Técnico de Asistencia Documental</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left; font-size: 20px;"><b>Funciones:</b></td>
                <td style="text-align: right; font-size: 20px;">
                  Administrador de recursos
                  <br>y elementos de red físicos
                </td>
              </tr>
              <tr>
                <td style="text-align: left; font-size: 20px;"><b>Tiempo labor:</b></td>
                <td style="text-align: right; font-size: 20px;"><b>actualmente</b></td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <br>

    <div class="button-container">
      <button class="my-button" (click)="toggleTextBox()">Proyectos</button>
      <div class="right-button">
      <input type="radio" id="menu2-radio" class="menu-radio" name="menu-radio">
      <label for="menu2-radio" class="menu-button" (click)="toggleMultimedia()">Multimedia</label>

      <div class="menu" id="menu2" *ngIf="showMultimedia">
        <div class="image-container">
          <img src="assets\imagen 1.jpg" alt="Imagen 1"
            style="width: 300px; height: 202px; border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
          <img src="assets\imagen 2.jpg" alt="Imagen 2"
            style="width: 300px; height: 259px;border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">

          <img src="assets\imagen 3.jpg" alt="Imagen 3"
            style="width: 300px; height: 209px; border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);">
        </div>
      </div>

    </div>
      </div>




    <div id="calculadora" *ngIf="textBoxVisible">
      <div id="resultado" class="resultado">{{ resultado }}</div>
      <div id="botones">
        <div class="fila">
          <button (click)="appendNumber('1')">1</button>
          <button (click)="appendNumber('2')">2</button>
          <button (click)="appendNumber('3')">3</button>
          <button class="operador" (click)="setOperator('-')">-</button>
        </div>
        <div class="fila">
          <button (click)="appendNumber('4')">4</button>
          <button (click)="appendNumber('5')">5</button>
          <button (click)="appendNumber('6')">6</button>
          <button class="operador" (click)="setOperator('+')">+</button>
        </div>
        <div class="fila">
          <button (click)="appendNumber('7')">7</button>
          <button (click)="appendNumber('8')">8</button>
          <button (click)="appendNumber('9')">9</button>
          <button class="operador" (click)="setOperator('/')">/</button>
        </div>
        <div class="fila">
          <button (click)="appendNumber('0')">0</button>
          <button (click)="clearCalculator()" class="limpiar">C</button>
          <button class="operador" (click)="setOperator('*')">*</button>
          <button (click)="calculate()" class="igual">=</button>
        </div>
      </div>
    </div>

